{% extends 'users/layouts/guest.html' %}

{% block main %}
    <div class="prose">
        <h1 class="text-center">
            Login
        </h1>
    </div>
    {# djlint:off #}
    <div class="divider"></div>
    {# djlint:on #}

    <form action="{% url 'users:login' %}" method="post">
        {% csrf_token %}

        {{ form.as_div }}

        <button type="submit" class="btn btn-primary w-full">
            Login
        </button>

        <div class="prose max-w-none">
            <p>
                Don't have an account? <a href="{% url 'users:register' %}">Register</a>
            </p>
        </div>
    </form>
{% endblock main %}
